In [2]:
import pandas as pd

In [62]:
pd.set_option('display.max_columns', None)

In [12]:
db1 = pd.read_csv('Jan 2010.csv')

/var/folders/tn/k31185892wl6cj_lpfjjr2wc0000gn/T/ipykernel_56087/909326137.py:1: DtypeWarning: Columns (1,50) have mixed types. Specify dtype option on import or set low_memory=False.
  db1 = pd.read_csv('Jan 2010.csv')

In [10]:
db2 = pd.read_excel('compustat_w_naics (3).xlsx')

In [34]:
db1.shape

(982473, 51)

In [35]:
db2.shape

(5994, 12)

In [45]:
db2.head()

,Global Company Key,Data Date,Data Year - Fiscal,Industry Format,Level of Consolidation - Company Annual Descriptor,Population Source,Data Format,Ticker Symbol,Company Name,ISO Currency Code,Active/Inactive Status Marker,North American Industry Classification Code
0,1004,2010-05-31,2009,INDL,C,D,STD,AIR,AAR CORP,USD,A,423860.0
1,1019,2010-12-31,2010,INDL,C,D,STD,AFAP,AFA PROTECTIVE SYSTEMS INC,USD,A,561621.0
2,1045,2010-12-31,2010,INDL,C,D,STD,AAL,AMERICAN AIRLINES GROUP INC,USD,A,481111.0
3,1050,2010-12-31,2010,INDL,C,D,STD,CECO,CECO ENVIRONMENTAL CORP,USD,A,333413.0
4,1062,2010-11-30,2010,FS,C,D,STD,ASA,ASA GOLD AND PRECIOUS METALS,USD,A,523999.0

In [63]:
db1.head()

,Direction,SHIPMENTCOUNT,DATEFORMAT_YYYYMMDD,US Coast,US Port,Dock Name(s),US Port Code,US Port State,Foreign Initial Port,FOREIGN CODE,Foreign Initial Country,Foreign Initial Region,Ultimate Port,Ultimate Port Code,Ultimate Country,ULTIMATE REGION,ULTIMATE SUBREGION,US Origin/Destination City,US Origin/Destination State,Master Origin/Destination City,Master Origin/Destination State,US Origin or Destination State,Commodity Group,Commodity Description,US COMPANY NUMBER,US Company Name,US Company DUNS,US Company Address,US Company City,US Company State,US Company ZIP,USZIPCODE3,FOREIGN COMPANY,FOREIGN COMPANY NUMBER,Foreign Company DUNS,FOREIGN CITY,FOREIGN STATE,FOREIGN COUNTRY,FOREIGN STREET,Notify Company Name,Notify Company DUNS,Notify Company City,Notify Company State,Quantity and Units,UOM,Pounds,Value,Country Code,FCTRYCODE,USPORT_ID,OTI Domestic
0,E,1,20110101.0,EAST,BOSTON,NaN,401.0,MA,ANTWERP,42305.0,BELGIUM,NORTH EUROPE,BELGIUM,42300.0,BELGIUM,NORTH EUROPE,NaN,Unknown,XX,NaN,NaN,XX,TEXTILE AND TEXTILE PRODUCTS,CLOTHING,6.039600e+10,OVERSEAS FORWARDING,0.0,NaN,FEDERAL WAY,WA,98003,NaN,NaN,0.0,0.0,NaN,ZZ,NaN,NaN,NaN,0.0,NaN,ZZ,39.0,PKG,18999.17,36291.84,BE,BE,26.0,False
1,E,1,20110101.0,EAST,BOSTON,NaN,401.0,MA,BARCELONA,47061.0,SPAIN,MEDITERRANEAN,TURKEY,48900.0,TURKEY,MEDITERRANEAN,NaN,Unknown,XX,NaN,NaN,XX,"RAW HIDES AND SKINS, LEATHER",WET CATTLE,2.270000e+11,BOSTON HIDES AND FURS,0.0,NaN,CHELSEA,MA,2150,NaN,NaN,0.0,0.0,NaN,ZZ,NaN,NaN,NaN,0.0,NaN,ZZ,3300.0,UNT,50000.45,54636.85,TR,ES,26.0,False
2,E,1,20110101.0,EAST,BOSTON,NaN,401.0,MA,FELIXSTOWE,41323.0,UNITED KINGDOM,NORTH EUROPE,FELIXSTOWE,41323.0,UNITED KINGDOM,NORTH EUROPE,NaN,Unknown,XX,NaN,NaN,XX,CHEMICAL PRODUCTS,AEROSOL,4.011000e+09,EXPEDITORS INTERNATIONAL,0.0,NaN,PEABODY,MA,1960,NaN,NaN,0.0,0.0,NaN,ZZ,NaN,NaN,NaN,0.0,NaN,ZZ,6164.0,PKG,5670.06,5430.23,GB,GB,26.0,False
3,E,1,20110101.0,EAST,BOSTON,NaN,401.0,MA,FELIXSTOWE,41323.0,UNITED KINGDOM,NORTH EUROPE,FELIXSTOWE,41323.0,UNITED KINGDOM,NORTH EUROPE,NaN,Unknown,XX,NaN,NaN,XX,FAK,PE HH GDS,2.230000e+11,SEA SHIPPING LINE,0.0,NaN,RED BANK,NJ,7701,NaN,NaN,0.0,0.0,NaN,ZZ,NaN,NaN,NaN,0.0,NaN,ZZ,115.0,PKG,5000.06,4526.90,GB,GB,26.0,False
4,E,1,20110101.0,EAST,BOSTON,NaN,401.0,MA,LE HAVRE,42737.0,FRANCE,NORTH EUROPE,FRANCE,42700.0,FRANCE,NORTH EUROPE,NaN,Unknown,XX,NaN,NaN,XX,MISCELLANEOUS MANUFACTURED ARTICLES,PUZZLES,4.193800e+10,SHIPCO TRANSPORT,0.0,NaN,HOBOKEN,NJ,7030,NaN,NaN,0.0,0.0,NaN,ZZ,NaN,NaN,NaN,0.0,NaN,ZZ,15.0,PKG,5000.06,14587.68,FR,FR,26.0,False

In [37]:
db1.columns

Index(['Direction', 'SHIPMENTCOUNT', 'DATEFORMAT_YYYYMMDD', 'US Coast',
       'US Port', 'Dock Name(s)', 'US Port Code', 'US Port State',
       'Foreign Initial Port', 'FOREIGN CODE', 'Foreign Initial Country',
       'Foreign Initial Region', 'Ultimate Port', 'Ultimate Port Code',
       'Ultimate Country', 'ULTIMATE REGION', 'ULTIMATE SUBREGION',
       'US Origin/Destination City', 'US Origin/Destination State',
       'Master Origin/Destination City', 'Master Origin/Destination State',
       'US Origin or Destination State', 'Commodity Group',
       'Commodity Description', 'US COMPANY NUMBER', 'US Company Name',
       'US Company DUNS', 'US Company Address', 'US Company City',
       'US Company State', 'US Company ZIP', 'USZIPCODE3', 'FOREIGN COMPANY',
       'FOREIGN COMPANY NUMBER', 'Foreign Company DUNS', 'FOREIGN CITY',
       'FOREIGN STATE', 'FOREIGN COUNTRY', 'FOREIGN STREET',
       'Notify Company Name', 'Notify Company DUNS', 'Notify Company City',
       'Notify Company State', 'Quantity and Units', 'UOM', 'Pounds', 'Value',
       'Country Code', 'FCTRYCODE', 'USPORT_ID', 'OTI Domestic'],
      dtype='object')

In [38]:
unique_firms = db1['US Company Name'].unique()
unique_company_name = db2['Company Name'].unique()

In [39]:
len(unique_firms)

113334

In [40]:
len(unique_company_name)

5290

In [55]:
db1[['US Company Name', 'US COMPANY NUMBER']].head(10)

            US Company Name  US COMPANY NUMBER
0       OVERSEAS FORWARDING       6.039600e+10
1     BOSTON HIDES AND FURS       2.270000e+11
2  EXPEDITORS INTERNATIONAL       4.011000e+09
3         SEA SHIPPING LINE       2.230000e+11
4          SHIPCO TRANSPORT       4.193800e+10
5           TICONA POLYMERS       2.150000e+12
6              PROCARGO USA       4.000000e+13
7                 CFT CARGO       2.000000e+11
8                    IMODAL       3.630000e+12
9     SUTTONS INTERNATIONAL       4.000000e+13

In [58]:
db1.loc[db1['US Company Name'].isin(unique_firms)][['US Company Name', 'US COMPANY NUMBER']].shape

(982473, 2)

In [64]:
db1.loc[db1['US Company Name'].isin(unique_firms)][['US Company Name', 'US COMPANY NUMBER', 'US Company DUNS']].drop_duplicates(subset=['US Company Name']).to_csv('company_names_db1.csv')

In [42]:
db1.to_csv('company_names_db1.csv', columns = ['US Company Name'])

In [44]:
db2.to_csv('company_names_db2.csv', columns = ['Company Name', 'Ticker Symbol'])